.header{ height: 70px;
    border-bottom: 1px dotted #dcdcdc; }
.header .logo{width:220px; height: 50px;margin-top: 10px }
.header .right{
    line-height: 24px;
    color: #666;
    float: right;
    padding: 20px 10px;
    font-size: 18px;
}
.header .right a{
    line-height: 24px;
    color: #666;
    font-size: 18px;
    padding: 0px 10px;
    display: inline-block;
}
.header .right a:hover{
    color: #666;
   text-decoration: none;
}
.xn-single{
    width: 335px;
    height: auto;
    background: #fff;
    position: relative;
}
.xn-single .box-top{
    padding: 30px 30px 0px 30px;
}
.xn-single  .box-top h4{
    font-size:18px;
    margin-bottom:30px;
}


.xn-single .input-group{
    margin-bottom: 15px;
}

.xn-single .xn-input-group .input-group-addon{
    background: #fff;
}

.xn-single .xn-input-group .input-group-addon span{
    color: #dcdcdc;
}
.xn-single .xn-input-group input{
    background: #fff;
    padding: 10px;
    color: #000;
}

/*
.xn-single .xn-input-group .input-group{
    margin-top: -1px;
    border: 1px solid #dcdcdc;
}
.xn-single .xn-input-group .input-group:first-child{
    border-radius: 4px 4px 0px 0px;
}
.xn-single .xn-input-group .input-group:last-child{
    border-radius: 0px 0px 4px 4px;
}

.xn-single .xn-input-group .input-group-addon{
    background: #fff;
    border: transparent;
}
.xn-single .xn-input-group .input-group-addon span{
    color: #dcdcdc;
}
.xn-single .xn-input-group input{
    background: #fff;
    border: transparent;
    box-shadow: none;
    padding: 10px;
    color: #000;
}*/
.xn-single .box-foot{
    height: 40px;
    line-height: 40px;
    background: #f1f6fa;
    padding: 0px 30px 0px 30px;
}
.xn-single .xn-errors{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 30px;
    color: #d85225;
}
.xn-single .xn-errors .alert-danger{
    background: transparent;
    margin-bottom: 0px;
}
.xn-single .box-top .forget-tip{
    height: 45px;
    position: relative;
}
.xn-single .box-top .forget-tip a{
    float: right;
    line-height: 30px;
    height: 30px;
}
.xn-single .box-top .forget-tip .captcha{
    margin-top: 10px;
    margin-left:15px;
    width: 100px;
    height: 25px;
    color: #fff;
    text-align: center;
}
.xn-single .box-top .forget-tip .captcha img{
    width: 100px;
    height: 25px;
}
.xn-login-box{
    min-height: 522px;
}
.login {
    float: right;
    margin-top: 40px;
    position: relative;
    margin-bottom: 40px;
}
.login-banner{
    position: absolute;
    left: 10%;
    float: left;
    width: 455px;
    min-height: 410px;
    background: url("./images/login.png") right 83px no-repeat;
}
.login-banner h3{
    margin-top: 60px;
    line-height: 70px;
    color: #fff;
    font-size: 36px;
}
.login-banner p{
    font-size: 22px;
    color: #fff;
}

.forget{
    margin-top: 80px;
    left: 50%;
    position: relative;
    margin-bottom: 40px;
    margin-left: -168px;
    box-shadow: 0px 0px 2px #dcdcdc;
}
.forget .forget-success{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}
.forget .forget-img{
    position: absolute;
    right:-85px;
    bottom:0px;
    float: left;
    width: 106px;
   height: 106px;
    background: url("./images/forget.png") left top no-repeat;
}
.forget .forget-a{
    line-height: 20px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 14px;
}

.forget .reset-img{
    position: absolute;
    right:-85px;
    bottom:0px;
    float: left;
    width: 106px;
    height: 106px;
    background: url("../images/public/reset.png") left top no-repeat;
}
/*401*/
#error-page {
}
#error-page .error-box{
    position: absolute;
    width: 500px;
    top: 15%;
    left: 50%;
    margin-left:-250px;
    z-index: 1;
    text-align: center;
}
#error-page .error-box h3{
    height: 115px;
    width: 100%;
}
#error-page .error-box p{
    color: #060606;
    font-size: 24px;
    padding: 15px;
}
#error-page .error-box a{
    background: url("./images/loading.png")15px  10px  no-repeat;
    border-radius: 20px;
    color: #acacab;
    font-size: 18px;
    padding-left: 15px;
    width: 180px;
    height: 40px;
    box-shadow:inset  1px 2px 10px rgba(193,193,193,0.5) ;
    display: inline-block;
    line-height: 40px;
}
#error-page .error-box a:hover{
    text-decoration: none;
}
#error-page .error-box h3.page_401{
    background: url("./images/401.png") center top no-repeat;
}
#error-page .error-box h3.page_403{
    background: url("./images/403.png") center top no-repeat;
}
#error-page .error-box h3.page_404{
    background: url("./images/404.png") center top no-repeat;
}
#error-page .error-box h3.page_500{
    background: url("./images/500.png") center top no-repeat;
}
#error-page .error-img{
    margin-top: 20px;
    width: 100%;
    height: 330px;
}
#error-page .error-img-401{
    background: url("./images/401-img.png") center top no-repeat;
}
#error-page .error-img-403{
    background: url("./images/403-img.png") center top no-repeat;
}
#error-page .error-img-404{
    background: url("./images/404-img.png") center top no-repeat;
}
#error-page .error-img-500{
    background: url("./images/500-img.png") center top no-repeat;
}

/*编辑*/
.xn-edit-favicon{
}
.xn-edit-favicon .xn-edit-favicon-top{
    width: 200px;
    height: 80px;
}
.xn-edit-favicon .xn-edit-favicon-img{
    width: 198px;
    height: 184px;
}
.xn-edit-favicon .xn-edit-favicon-img img{
    width: 170px;
    height: 170px;
}
.xn-edit-favicon .xn-edit-first{
    margin-left: 200px;
    margin-bottom: 20px;
    padding-top: 10px;
    height: auto;
}
.xn-edit-favicon .xn-edit-first .xn-label{
    width: 100%;
    font-size: 20px;
    font-weight: normal;
}
.xn-edit-favicon .xn-edit-first .xn-required-i{
    background-position-y: -140px;
    height: 30px;
}
.xn-edit-favicon .xn-edit-first input{
    margin-bottom: 10px;
}
.xn-edit-favicon .xn-edit-first .alert-group{
    width: 513px;
}

/*屏幕判断*/
@media screen and (min-width:1200px) {


    .xn-edit-favicon .xn-edit-first{
        margin-left: 200px;
        margin-bottom: 20px;
        padding-top: 10px;
        height: auto;
    }
    .xn-edit-favicon .xn-edit-first .xn-label{
        width: 100%;
        font-size: 20px;
        font-weight: normal;
        margin-left: 0px;
    }
    .xn-edit-favicon .xn-edit-first .xn-required-i{
        background-position-y: -140px;
        height: 30px;
    }
    .xn-edit-favicon .xn-edit-first input{
        margin-bottom: 10px;
    }
    .xn-edit-favicon .xn-edit-first .alert-group{
        width: 513px;
    }

}
